.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
}

.contact-name {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 50px;
    text-transform: uppercase;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.contact-info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-icons {
    font-size: 40px;
    margin-top: 30px;
}

.contact-info-item__name {
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
}

.contact-info-item__desc {
    font-size: 18px;
    margin-top: 20px;
}

.contact-form__map {
    margin-top: 70px;
}

.form-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-form__map {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding: 50px;
}

.contact-form-name {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
}

.contact-form-desc {
    font-size: 20px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
}

.form-contact-name {
    width: 600px;
    height: 40px;
    outline: none;
    border: 2px solid black;
    margin-bottom: 20px;
    font-weight: 600;
    padding: 5px;
    transition: all .3s ease;
}

.form-contact-name:focus {
    border-color: rgb(246, 87, 87);
    color: rgb(246, 87, 87);
}

.form-contact-phone {
    width: 600px;
    height: 40px;
    outline: none;
    border: 2px solid black;
    margin-bottom: 20px;
    font-weight: 600;
    padding: 5px;
    transition: all .3s ease;
}

.form-contact-phone:focus {
    border-color: rgb(246, 87, 87);
    color: rgb(246, 87, 87);
}

.form-contact-comment {
    width: 600px;
    padding: 5px;
    outline: none;
    border: 2px solid black;
    margin-bottom: 20px;
    font-weight: 600;
    transition: all .3s ease;
}

.form-contact-comment:focus {
    border-color: rgb(246, 87, 87);
    color: rgb(246, 87, 87);
}

.form-contact-button {
    width: 600px;
    padding: 5px;
    outline: none;
    border: 2px solid black;
    margin-bottom: 20px;
    font-weight: 600;
    background-color: transparent;
    transition: all .4s ease;
}

.form-contact-button:hover {
    background-color: rgb(246, 87, 87);
    color: white;
    border-color: rgb(246, 87, 87);
}

@media (max-width :1240px) {
    .contact-info {
        flex-direction: column;
    }

    .contact-form__map {
        flex-direction: column;
    }

    .form-contact-name,
    .form-contact-phone,
    .form-contact-comment,
    .form-contact-button {
        width: 100%;
    }

    .contact-map {
        width: 100%;
    }

    .contact-map iframe {
        width: 100%;
    }

    .contact-form-name {
        text-align: center;
    }

    .contact-form-desc {
        text-align: center;
    }
}

@media (max-width :450px) {
    .contact-name {
        font-size: 20px;
    }

    .contact-info-item__name {
        font-size: 20px;
    }

    .contact-form-name {
        font-size: 20px;
    }

    .contact-form-desc {
        font-size: 15px;
    }
}