.forms {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.profile-register {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reg-name,
.reg-number,
.reg-password {
    width: 500px;
    margin-bottom: 30px;
    height: 40px;
    border: 2px solid black;
    color: gray;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

.register-name {
    margin-bottom: 30px;
}

.btn-reg {
    width: 500px;
    border: none;
    background-color: rgb(246, 87, 87);
    color: white;
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    transition: all .3s ease;
    margin-bottom: 20px;
}

.btn-reg:hover {
    transform: scale(1.05);
    background-color: rgb(184, 64, 64);
}

.forms {
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.profile-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-name,
.log-number,
.log-password {
    width: 500px;
    margin-bottom: 30px;
    height: 40px;
    border: 2px solid black;
    color: gray;
    border-radius: 5px;
    outline: none;
    padding: 10px;
}

.login-name {
    margin-bottom: 30px;
}

.btn-log {
    width: 500px;
    border: none;
    background-color: rgb(246, 87, 87);
    color: white;
    font-weight: 700;
    height: 50px;
    border-radius: 5px;
    transition: all .3s ease;
}

.btn-log:hover {
    transform: scale(1.05);
    background-color: rgb(184, 64, 64);
}