.service-center {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 400px;
    box-shadow: 1px 2px 16px 3px rgba(54, 58, 69, 0.08);
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.service-center__img img {
    width: 45%;
}

.service-center__content {

    margin-left: 200px;
}

.service-center__content h1 {
    font-size: 36px;
    line-height: 54px;
}

.service-center__content p {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 500;
}

.service-center__content button {
    width: 190px;
    height: 40px;
    border-radius: 10px;
    background: rgba(0, 198, 94, 1);
    color: white;
    border: none;
    margin-top: 50px;
}

.service-centet-remont-btn {
    display: flex;
    width: 140px;
    height: 40px;
    border-radius: 10px;
    background: rgba(0, 198, 94, 1);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.service-centet-remont-btn:hover {
    color: white;
    text-decoration: none;
    background: rgb(0, 147, 68);
}