img {
    max-height: 650px;
}

.carousel {
    margin: 40px;
    width: 100%;
    margin-top: 0px;
}

.header {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


.list {
    box-shadow: #00000059 0px 5px 15px;
    height: 100%;
    padding: 0;
    width: 40%;
    margin-left: 20px;
}

.list-item {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;

    padding-left: 20px;
    padding-right: 20px;

    width: 100%;
}

.bi {
    margin-right: 10px;
}

.list-item:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list-item:hover a {}

.list-item a {
    text-decoration: none;
    color: black;
    transition: all 0.4s;
    padding: 5px;
    width: 100%;
}

.arrow-down {
    width: 100%;
    text-align: center;
}

.bi-chevron-compact-down {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}