.beskett {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;

}

.besket-name {
    margin-top: 70px;
    font-weight: 700;
    font-size: 28px;
}

.filterr {
    margin-top: 40px;
    background: rgba(234, 239, 242, 1);
    height: 60px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.filter-item {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.besket-products {
    display: flex;
    flex-direction: column;
    width: 95%;
}

.besket-product {
    display: flex;
    flex-direction: row;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    /* border-bottom: 2px solid gray; */
    background: rgb(250, 250, 250);
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.besket-product-img {
    width: 100px;
    height: 100px;
}

.besket-counter {
    display: flex;
    flex-direction: column;
}

.besket-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* margin-left: 200px; */
}

.besket-product-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-left: 20px;

}

.besket-price {
    /* margin-left: 220px; */
}

.besket-count-item {
    background: rgba(234, 239, 242, 1);
    padding: 5px;
    width: 40px;
    text-align: center;
}

.besket-counter-plus {
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: all .4s;
    padding-left: 10px;
    padding-right: 10px;
}

.besket-counter-minus {
    margin-left: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: all .4s;
    padding-left: 10px;
    padding-right: 10px;
}

.besket-price {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.besket-counter-minus:hover,
.besket-counter-plus:hover {
    background-color: black;
    color: white;

}

.delete-product {
    font-size: 25px;
    color: gray;
    font-weight: 500;
    cursor: pointer;
    color: rgb(235, 45, 45);
}

.all-price {
    background: rgba(234, 239, 242, 1);
    height: 60px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.all-price-text,
.all-price-total {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

}

.besket-product-names {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
}

.order-product-besket-btn {
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.order-product-besket-button {
    width: 100%;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid rgb(246, 87, 87);
    color: rgb(246, 87, 87);
    transition: all .3s ease;
}

.order-product-besket-button:hover {
    background-color: rgb(246, 87, 87);
    color: white;
}